<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="details-title">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>   
    <ion-searchbar [(ngModel)]="searchValue" placeholder="Search items..."></ion-searchbar>
    
    <ion-button class="search" expand="block" (click)="openResultsWithQueryParams()" style="margin-top: 20px;">Search</ion-button>
  </ion-card>
  <ion-card>
    <!-- <div style="text-align: center;">
      <img [src]="receivedData.img" />
    </div> -->
    <ion-row class="ion-align-items-center detail-card-footer">
      <ion-col>
        <ion-chip button (click)="heart()" tappable>
          <ion-icon name="heart" color="danger"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip button (click)="navigate()" tappable>
          <ion-icon name="navigate" color="secondary"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip button (click)="call()" tappable>
          <ion-icon name="call" color="success"></ion-icon>
        </ion-chip>
      </ion-col>
      <ion-col>
        <ion-chip button (click)="share()" tappable>
          <ion-icon name="share-social" color="tertiary"></ion-icon>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-card-header>
      <ion-card-subtitle>{{receivedData.desc}}</ion-card-subtitle>
      <ion-card-title>{{receivedData.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div *ngFor="let m of offers">
        <ion-row>
          <ion-col style="text-decoration: underline; font-weight: bold;">
            Producto
          </ion-col>
          <ion-col size="3" style="text-decoration: underline; font-weight: bold;">
            Precio
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="name" style="cursor: default;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;">
            {{m.name}}
          </ion-col>
          <ion-col size="3">
            ${{m.price}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Cantidad: {{m.quantity}}
          </ion-col>
          <ion-col class="ion-align-items-center detail-card-footer">
            <ion-chip class="add" button (click)="addToCart(m)" tappable>
              <ion-icon name="add-circle" color="success"></ion-icon>
            </ion-chip>
            <ion-chip button (click)="removeFromCart(m)" tappable>
              <ion-icon name="remove-circle" color="danger"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>
      </div>
      <ion-button class="cart" expand="block" (click)="confirmBuy()" style="margin-top: 20px;" color="success">Add to cart
      </ion-button>
    </ion-card-content>

    <ion-footer>
      <!-- <ion-row class="ion-align-items-center detail-card-footer">
        <ion-col>
          <ion-chip>
            <ion-icon name="heart" color="danger"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip>
            <ion-icon name="navigate" color="secondary"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip>
            <ion-icon name="call" color="success"></ion-icon>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip>
            <ion-icon name="share-social" color="tertiary"></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row> -->
    </ion-footer>
  </ion-card>
</ion-content>